
    body {
        font-family:Georgia, 'Times New Roman', Times, serif;
        background-image: url(./game3.png);
          background-size:cover;

        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    
.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.575);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button.choice {
    width: 100px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
button.choice:hover {
    background-color: #0056b3;
}
button#reset{
background-color: rgb(218, 43, 43);
padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;

}
p#result{
    color: red;
    font-weight: bold;
}